/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 Nov, 2020, 8:24:19 AM
    Author     : Sachin Patel
*/

#firstH2{
    color: blue;
}
.mydivs{
    border: 2px solid blue;
    margin: 5px;
    padding: 10px;
}
div p{
    color: red;
}
.mycube{
    width:50px;
    height: 50px;
    background-color: blueviolet;
    opacity: 0.4;
    position: absolute;
    padding: 20px;
}
.newdivclass{
    border-radius: 10px;
    background-color: aqua;
}
.newparaclass{
   font-weight: bold;
   color: blueviolet;
}
